.navbar {
    background: #e07b7b;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
    color: #337ab7;
    font-weight: bold;
}

.navbar-nav>li:hover {
    background: #ded9d9
}

hr {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    padding-bottom: 1em;
}

.internalBox {
    background-color: #f7eaea;
    padding: 1em;
    margin-bottom: 30px;
}
